{% include 'includes/header.html.twig' %}
    <body>
        <h1>Change your information</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </body>
</html>
