{% include 'includes/header.html.twig' %}
        <h1>Changer ses informations</h1>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
{% include 'includes/footer.html.twig' %}
</html>
