/*
!important permet de surpasser le bootstrap
*/
meter {

    margin: 0 auto 1em;
    width: 100%;
    height: 0.5em;

    /* Applicable only to Firefox */
}

meter::-webkit-meter-bar {
}
span {
    position: relative;
}

a{
    font-size: 1vw;
}
button a{
    font-size: 1vw;
}
.bigText{
    text-align: center;
    font-size: 1.5vw;
}
footer{
    position: relative;
    background: lightgray;
    text-align: center;
    width: 100%;
    line-height: 5vh;
    height: 5vh;
    bottom: 0;
}
.imageContainer{
    position: relative;
    height: 100%;
    min-height: 100vh;
    background-repeat: repeat;
}
.statsContainer{
    padding-top: 1vw;
    padding-bottom: 1vw;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-bottomleft: 5px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    width: 20%;
    top: 82.5%;
    left: 80%;
    position: absolute;
    color: white;
    text-align: center;
    background-color: #555555;
}
.titleTop{
    position: relative;
    top: 20vh;
    z-index: 3;
}
.zIndex{
    position: relative;
    text-align: center;
    z-index: 3;
}
.bg{
    filter: blur(5px);
    -webkit-filter: blur(5px);
    position: absolute;
    top: 0; left: 0;
    background: url("../images/design/kitchen.jpg") repeat !important;
    height: 100%; width:100%;
}
.bgdarker{
    filter: blur(5px) brightness(0.7) !important;
}
.bgExpand{
}
.imageContainerPossession{
    position: relative;
    height: auto;
    background-repeat: repeat;
}
.profileInfos{
    position: relative;
    text-align: center;
    padding-bottom: 1vh;
}
.profileContainer{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 80%;
    background-color: rgba(255,255,255, 0.7);
    border-radius: 1%;
    border: 1px solid grey;
}
.titleProfile{
    position: relative;
    padding-bottom: 5vw;
    top: 4vw;
}
.titleIndex{
    position: relative;
    top: 5vw;
    width: 100%;
    background-color: rgba(255,255,255,0.4);
    border: 1px solid grey;
}
.searchContainer {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #999999;
}

.searchTitle {
    text-align: center;
}

.formSearch {
    display: inline-block;
    position: relative;
    width: 25%;
    height: 20vw;
    text-align: left;
    top: -2vw;
    left: 1vw;
}

.flexbox {
    top: -10vw;
    left: 1vw;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 70%;
}

.searchResults {
    text-align: center;
    position: relative;
    width: 32%;
    margin-left: 0.5vw;
    margin-top: 1vw;
    background-color: #aacd4e;
}

.searchResults:hover {

}

.searchResults > a {
    text-decoration: none;
    color: black;
}

.contentResult {
    display: block;
}

.formSearchTitle {
    position: relative;
}

.submitSearch {
    top: 2vw;
    position: relative;
}

.priceFilter {
    position: relative;
}

input[type=text]:focus {
    border: 3px solid #555;
}

.priceFilter > input {
    display: block;
}
body{
    background-color: lightslategray !important;
}
.form{
    top: 1vw;
    position: relative;
    width: 40vw;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.HomeSearchForm{
    top: 0 !important;
}
.title{
    position: relative;
    text-align: center;
}

.navbartest {
    background-color: #313131;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 40px;
    text-align: center;
    color: white;
    position: fixed;
    z-index: 999;
    width: 100%;
}

.navbartest li {
    display: inline;
}

.navbartest a {
    text-decoration: none !important;
    color: white !important;
    padding: 1vw 1vw;
    font-size: 1em;
    position: relative;
    top: 1vh;
}

.navbartest li :hover {
    color: white !important;
    background-color: royalblue;
}

.divindex {

}

h1 {
    text-align: center;
}

.imgSearchPossession {
    position: relative;
    width: 15vw;
    height: 10vw;
}

.lastOffer {
    position: relative;
    display: inline-block;
    text-align: center;
}
.lastOfferContainer{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 100%;
    text-align: center;
}

.principale{
    border-radius: 5px;
 /*   text-align: center;*/
    padding: 5vh 10vh;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    top: 15vh;
    background-color:rgba(255,255,255,0.7);
    /* height: 40vh;*/
}
.principaleLogin{
    top: 25vh !important;
}
.principaleModifyProfile{
    top: 0 !important;
    width: 60% !important;
}
.principaleProposition{
    top: 35vh !important;
}
.myPropositionsDiv{
    position: relative;
    width: 30%;
    margin-left: 1vw;
    border: 1px solid black;
    text-align: center;
    display: inline-block;
}
.flexboxPropositionProfile{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 1vw;
}
.waiting{
    color: darkgoldenrod;
}
.success{
    color: forestgreen;
}
.failed{
    color: darkred;
}
form > ul{
    list-style-type: none;
    position: relative;
}
form > ul > li{
    position: relative;
    list-style-type: none;
    text-align: center;
}
h2 {
    text-align: center;
    position: relative;
}

.divhomedescription {
    text-align: center;
    background-color: gray;
    color: white;
    border-radius: 1vh;
    height: 5vh;
    line-height: 5vh;
    margin: 2vh;
    position: relative;
    left: 10vw;
}
.divhomedescription a{
    color: white !important;
    text-decoration:none !important;
}

.divhomedescription a {
    position: relative;
    top: 1vh;
    display: block;
    width: 100%;
    height: 100%;
    color: white;
}

.divhomedescription:hover {
    background-color: white;
    color: gray;
    text-decoration: none;
    font-weight: bold;

}
.divdescription{
    background-color:rgba(255,255,255,0.5);
    border-radius: 5px;
}
.flexboxPossessionProfile{
    justify-content: center;
    align-items: center;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    text-align: center;
    padding-bottom: 1vh;
    margin-left: auto;
    margin-right: auto;
}
.flexModifyPossession{
    padding-top: 2vh;
}
.possessionProfile{
    width: 25%;
    position: relative;
    text-align: center;
}

.titleError{
    position: relative;
    padding-top: 35vh;
}
.linkToHome{
}

.containerError{
    width: 100%;
    text-align: center;
}
html{
    min-width: 100%;
    min-height: 100%;
    font-size: 100%;
    margin: 0;
    padding:0;
}
body{
    min-width: 100%;
    min-height: 100vh;
    margin: 0;
    height: 100%;
    padding: 0;
}

.validationStateSpanShowPossesion {
    color: red;
}

.divhome {
    top: 5vh;
    position: relative;
}
