.icon{
    min-width: 2vw;
    min-height: 2vw;
    max-width: 2vw;
    max-height: 2vw;
}
.flashMessageSuccess{
    z-index: 500;
    background: rgba(34,139,34,0.7);
    width: 60%;
    text-align: center;
    position: relative;
    top: 3.2vw;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-radius: 5px;
}
.possessionContainer{
    position: relative;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: lightslategray;
    height: 100%;
}
.title{
    text-align: center;
    top: 3vw;
}
.titleShowPossession{
    padding-bottom: 6vh;
}
.searchContainer{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: auto;
    top: 7vw;
    background-color:rgba(255,255,255,0.7);
}
.searchTitle{
    text-align: center;
}
.formSearch{
    display: inline-block;
    position: relative;
    width: 20%;
    height: 50vh;
    text-align: left;
    top: -2vw;
    left: 1vw;
}
.checkboxType{
    left: 1vw;
}
.flexbox{
    left: 4vw;
    top: -12vw;
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    width: 70%;
}
.searchResults{
    text-align: center;
    position: relative;
    width: 32%;
    background-color:rgba(255,255,255,0.7);
    margin-left: 0.5vw;
    margin-top: 1vw;
    background-color: lightgrey;
}
.searchResults:hover{
    border: black 3px solid;
}
.searchResults > a{
    text-decoration: none;
    color: black;
}
.contentResult{
    display: block;
}
.formSearchTitle{
    position: relative;
}
.submitSearch{
    top: 2vw;
    position: relative;
}
.priceFilter{
    position: relative;
}
input[type=text]:focus {
    border: 3px solid #555;
}
.priceFilter > input{
    display: block;
}
.noResults{
    margin-left: auto;
    margin-right: auto;
    position: relative;
    display: inline-block;
    text-align: center;
    top: -15vw;
    font-size: 1.2vw;
    width: 50vw;
}
.imgSearchPossession{
    position: relative;
    width: 15vw;
    height: 10vw;
}
.divImgPossession{
    text-align: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}
.arrowRight{
    width: 5vw;
    top: -8vw;
    display: inline-block;
    position: relative;
}
.arrowLeft{
    width: 5vw;
    top: -8vw;
    display: inline-block;
    position: relative;
}
.littleImgLeftDiv{
    width: 10vw;
    top: -7vw;
    display: inline-block;
    position: relative;
}
.littleImgRightDiv{
    width: 10vw;
    top: -7vw;
    position: relative;
    display: inline-block;
}
.imgDiv{
    display: inline-block;
    position: relative;
}
#carouselArrowLeft{
    width: 5vw;
    z-index: 1;
    cursor: pointer;
}
#carouselArrowRight{
    -ms-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    width: 5vw;
    z-index: 1;
    cursor: pointer;
}
#littleImgLeft{
    position: relative;
    width: 10vw;
    height: 7vw;
}
#littleImgRight{
    position: relative;
    width: 10vw;
    height: 7vw;
}
#imgPossession{
    position: relative;
    width: 30vw;
    height: 20vw;
}
#imgDescription, #numberOfImg{
    width: 100%;
    position: relative;
    background-color: dimgrey;
    color: white;
    font-size: 1vw;
}
#numberOfImg{
    width: 20% !important;
    margin-left: auto;
    margin-right: auto;
}
.detailsPossessionContainer{
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 30vw;
    top: -2vw;
    font-size: 0.8vw;
}
.oneImage{
    margin-top: 4vw;
}
.detailsPossession{
    position: relative;
    display: inline-block;
    background-color: white;
    width: 4vw;
    text-align: center;
}
.favorite{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 10vw;
    height: 2vw;
    line-height: 2vw;
    left: 7vw;
    font-size: 0.8vw !important;
}
.btn{
    font-size: 1vw;
}
.detailsPossessionContainer a{
    color: white !important;
    text-decoration: none !important;
}
.ownProperty{
    padding: 1vw 1vw 1vw 1vw;
    width: 55% !important;
    position: relative;
    top: 30vh;
}
.btnOwnProperty{
    position: relative;
    width: 20vw;
    margin-right: auto;
    margin-left: auto;
}
.divButton{
    top: 35vh;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    text-align: center;
}
#map {
    z-index: 5 !important;
    margin-right: auto;
    margin-left: auto;
    height: 35vh;
    width: 50vw;
}
.btnProposition{
    margin-left: auto;
    margin-right: auto;
    border: 1px solid dimgrey !important;
    background-color: lightgrey !important;
    width: 30vw;
    position: relative;
    top: 1vw;
}
.btnProposition a{
    color: black !important;
    text-decoration: underline !important;
    font-weight: bold;
}
.streetPossession{
    position: relative;
    top: 1vw;
    font-size: 150%;
    text-align: center;
}
.infosPossession{
    text-align: center;
    position: relative;
    width: 70%;
    top: 2vw;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    font-size: 1vw;
}
.infosPossessionDescription{
    background: rgba(255,255,255,0.7);
    position: relative;
    width: 100%;
    height: fit-content;
    box-shadow: 3px 5px 5px black;
}
.priceAndStreet{
    background: rgba(255,255,255,0.7);
    padding-top: 1vw;
    position: relative;
    width: 70%;
    height: fit-content;
    box-shadow: 3px 5px 5px black;
    padding-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 2vw;
}
.infosPossessionDescription > h3{
    position: relative;
    text-decoration: underline;
    top: 1vw;
}
.infosPossessionDescription > p{
    position: relative;
    padding-top: 2vw;
}
.infosPossessionPlus{
    background: rgba(255,255,255,0.7);
    width: 100%;
    position: relative;
    margin-top: 3vw;
    height: fit-content;
    box-shadow: 3px 5px 5px black;
}
.infosPossessionPlus > h3{
    position: relative;
    text-decoration: underline;
}
.infosPossessionGeneral{
    background: rgba(255,255,255,0.7);
    position: relative;
    width: 100%;
    margin-top: 3vw;
    height: fit-content;
    box-shadow: 3px 5px 5px black;
}
.infosPossessionGeneral > h3{
    position: relative;
    text-decoration: underline;
}
.infosPossessionPlus > ul, .infosPossessionGeneral > ul{
    list-style-type: none;
    padding-top: 2vw;
    padding-bottom: 2vw;
    position: relative;
}
.infosPossessionPlus > li, .infosPossessionGeneral > li{
    list-style-type: none;
    position: relative;
    display: inline-block;
}
.infosPossessionPlus > ul > li, .infosPossessionGeneral > ul > li{
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    position: relative;
    display: inline-block;
    list-style-type: none;
}
.agencyInfos{
    background: rgba(255,255,255,0.7);
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 3vw;
    margin-bottom: 7vw;
    padding-top: 2vw;
    text-align: center;
    box-shadow: 3px 5px 5px black;
}
.agencyInfos > h3{
    text-decoration: underline;
    position: relative;
}
.navigation{
    text-align: center;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.pagination{
    position: relative;
    text-align: center;
}
.pagination > * > a{
    text-decoration: none;
    color: black;
}
.pagination >span{
    display: block;
    background-color: lightgrey;
    border: solid 1px white;
    font-size: 1.5vw;
    text-align: center;
    width: 3vw;
}
