{% include 'includes/header.html.twig' %}
<div class="imageContainer">
    <div class="bg"></div>
<div class="priceAndStreet ownProperty">
<h1>Vous ne pouvez pas faire d'offre pour votre propre annonce, un peu de bon sens voyons !</h1>
</div>
    <div class="divButton"><a href="{{ path('index') }}"><button class="btn btn-primary btnOwnProperty">Retour a l'accueil</button></a></div>
</div>
{% include 'includes/footer.html.twig' %}
</body>
</html>
