<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}{% endblock %}
    {% include 'account/infosAccount.html.twig' %}
    <h1>Bienvenue</h1>
    <p><a href="{{ path('backoffice') }}">Backoffice</a></p>
    <p><a href="{{ path('possession_app_possession_createpossessionbyagent') }}">Create possession by agent</a></p>
    <p><a href="{{ path('app_login') }}">login</a></p>
    <p><a href="{{ path('logout') }}">logout</a></p>
{% block javascripts %}{% endblock %}
</body>
</html>