{% include 'includes/header.html.twig' %}
<body>
<h1>ImmoConceptPlus<br>Une maison, une idée, un concept</h1>

<div class="principale">
    <h2>Les offres du moment</h2><br>
    {% if possessions %}
    {% for possession in possessions %}
        <div class="lastOffer">
        {% if possession.possessionImage.first %}
        <img class="imgSearchPossession" src="{{ asset(vich_uploader_asset(possession.possessionImage.first, 'imageFile', 'App\\Entity\\PossessionImage')) }}" alt="possessionImage"><br>
        {% endif %}
        {{ possession.title }}
        </div>
    {% endfor %}
    {% endif %}
</div>




</body>
</html>
