<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Show PossessionTypes{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
        <h1>Show Possession types</h1>

        {% for possessionType in possessionTypes %}
            <p>{{ possessionType.name }}</p>
        {% endfor %}

    </body>
</html>