<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Agent error{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>

<body>
<h1>Erreur, vous ne possedez aucun client</h1>

<p><a href="{{ path('index') }}">Retour a l'accueil</a></p>

</body>
</html>