<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Create Possession{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>

    <body>
            <h1>Create Possession</h1>
            {{ form_start(form) }}
            {% for out_building in form.out_buildings %}
                    {{ form_row(out_building) }} <br>
            {% endfor %}
            {{ form_end(form) }}
    </body>
</html>