<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>BackOffice - Accueil</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
    <a href="{{ path('addAgency') }}">Ajouter une agence</a>
    <a href="{{ path('addAgent')}}">Ajouter un agent</a><br>
    <a href="#">Ajouter un admin</a><br>
    <a href="{{ path('GetListAgent') }}">Liste agent</a><br>
    <a href="#">Liste admins</a>
</body>
</html>