{% include 'includes/header.html.twig' %}
    <h1>Fiche des possessions : </h1>
        Nombre de possessions : {{ listPossession | length }}
    <ul>
        {% for possession in listPossession %}
            <li>{{ possession.title }}
        {% endfor %}
    </ul>


</body>
</html>
