{% include 'includes/header.html.twig' %}
{{ form_start(form) }}
{{ form_widget(form) }}
<button type="submit">Enregistrer mon offre</button>
{{ form_end(form) }}
{% include 'includes/footer.html.twig' %}
