{% include 'includes/header.html.twig' %}
<div class="imageContainer">
    <div class="bg bgdarker"></div>
    <div class="principale principaleProposition">
    <h1>Faire une proposition</h1>
    <div class="form registerForm">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    </div>
    </div>
</div>
{% include 'includes/footer.html.twig' %}
</html>
