{% include 'includes/header.html.twig' %}
<body>
<div class="containerError">
    <h1 class="titleError">Erreur 403</h1>
    <p class="title">Vous n'êtes pas autorisé à voir cette page</p>
    <a class="linkToHome" href="{{ path('index') }}">Retour a l'accueil</a>
</div>
</body>
