{% include 'includes/header.html.twig' %}
<body>
<div class="containerError">
    <h1 class="titleError">Erreur 404</h1>
    <p class="title">La page que vous cherchez n'existe pas</p>
    <a class="linkToHome" href="{{ path('index') }}">Retour a l'accueil</a>
</div>
</body>
