{% include 'includes/header.html.twig' %}
<div class="imageContainer">
    <div class="bg"></div>
<div class="containerError">
    <h1 class="titleError">Erreur 403</h1>
    <p class="title">Vous n'êtes pas autorisé à voir cette page</p><br>
    <a class="linkToHome" href="{{ path('index') }}">Retour a l'accueil</a>
</div>
</div>
{% include 'includes/footer.html.twig' %}
</html>
